<footer style="background-color:white;">
    <div class="columns" style="padding:40px;">
        
        <div class="column"><h3 style="color: black">Maestría en Sistemas Computacionales</h3></div>
        <div class="column"><h3 style="color: black">Lenguajes web</h3></div>
        <div class="column"><h3 style="color: black">Aplicación para crear y modificar notas en web <img src="https://img.freepik.com/vector-gratis/personaje-dibujos-animados-notas-adhesivas-buscando-lupa-diseno-estilo-lindo-camiseta-pegatina-elemento-logotipo_152558-7083.jpg?w=740" alt="50" width="50"></h3></div>
    </div>
</footer>