 <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: white;">
  <div class="navbar-brand">
    <a class="navbar-item" href="../">
   <h1 class="title is-5">&nbsp; Notas con NodeJs</h1> </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/list_notes">
        Lista de notas
      </a>

      <a class="navbar-item" href="/agregar">
        Agregar nota
      </a>


    </div>

    <div class="navbar-end">
     
    </div>
  </div>
</nav>